.header {
    padding: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  body {
      font-family: serif;
      padding: 20px;
      background: rgb(8, 8, 8);
    }
  
    .topnavbar {
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnavbar a {
      float: left;
      color: white;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnavbar a:hover {
      background-color: #ddd;
      color: black;
    }
  
  
  
    .topnavbar a.split {
      float: right;
      color: white;
    }
  
    * {
      box-sizing: border-box;
    }

    .card {
        width:50%;
        background-color: white;
        padding: 20px;
        margin-left: 25%;
        margin-top: 20px;
      }

.title {
    font-size: 20px;
}

.body